/* ChatRoom.css */

/* Apply styles to the whole page */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /* Use Roboto font or any other preferred font */
    background-color: #f0f0f0;
    /* Light gray background */
}

.input-username {
    background-color: transparent;
    color: #c9e0f3;
    /* Text color */
    border: 2px solid #ffffff;
    /* White border */
    padding: 10px 20px;
    align-self: center;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.input-username:hover {
    background-color: rgba(255, 255, 255, 0.2);
    /* Semi-transparent white */
    color: #ffffff;
    /* Text color on hover */
}

.chat-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    /* Regular */
    font-size: 30px;
    color: #000000;
    /* Text color */
    backdrop-filter: blur(5 px);
    /* Blur effect for background */
    padding: 1px;
    /* Add padding to prevent text from touching edges */
}

.register {
    background-image: url('https://images.squarespace-cdn.com/content/v1/6131aab0e93278616cc6f6b8/1630812785434-3TCPK3QM374NBTP3VI11/25552.jpg?format=1000w');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    color: azure;
    display: flex;
    flex-direction: column;
    position: static;
    height: 100vh;
    /* Fill the viewport height */
}

.button-register {
    background-color: transparent;
    color: #ffffff;
    /* Text color */
    border: 2px solid #ffffff;
    /* White border */
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button-random:hover {
    background-color: rgba(255, 255, 255, 0.2);
    /* Semi-transparent white */
    color: #ffffff;
    /* Text color on hover */
}

.button-register:hover {
    background-color: rgba(255, 255, 255, 0.2);
    /* Semi-transparent white */
    color: rgba(255, 255, 255, 0.4);
    /* Text color on hover */
}

.button-register.disabled {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.2);
    cursor: not-allowed; /* Change cursor on disabled */
}

.button-random {
    background-color: rgba(255, 255, 255, 0.7);
    ;
    color: #041101;
    /* Text color */
    border: 3px solid #ffffff;
    /* White border */
    padding: 5px 7px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button-random:hover {
    background-color: rgba(255, 255, 255, 0.2);
    /* Semi-transparent white */
    color: #ffffff;
    /* Text color on hover */
}



.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* Use full viewport height */
}

.chat-box {
    flex-grow: 3;
    /* Grow to fill available space */
    margin: 5px;
    touch-action: none;
    display: flex;
    flex-direction: column;
}

.member-list ul {
    display: inline-flex;
    font-family: 'Poppins', sans-serif;
    font-size: 10px; 
    list-style-type: none;
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.member-list li {
    cursor: pointer;
    padding: 7px;
    margin:1px;
    border-radius: 10px;
    background-color:  rgb(241, 126, 126);
    color: #000000;
    font-weight: 500;
    width: fit-content;
}

.member-list li.active {
    color: #fff;
    background-color: rgb(206, 41, 41); 
    /* Darker shade for active tab */
}
.member-list li.self {
    color: #fff; 
    background-color: #0089b3;
    /* Darker shade for active tab */
}
.member-list li.unread {
    animation: glowAnimation 1s ease-in-out infinite alternate;
    /* Darker shade for active tab */
}

/* CSS for dim and glow effect */
@keyframes glowAnimation {
    0% {
      box-shadow: 0 0 0px 0px rgb(241, 126, 126);/* Initial shadow */ 
    } 
    50% {
        box-shadow: 0 0 2px 2px rgb(206, 41, 41); /* Glow effect */ 
      } 
    100% {
      box-shadow: 0 0 0px 0px rgb(241, 126, 126); /* Back to initial shadow */ 
    }
  }

.member-list li.chatroom {
    color: #fff;
    background-color: rgb(120, 201, 177) ;
    /* Darker shade for active tab */
}
.chat-content {
    flex-grow: 1;
    /* Grow to fill available space */
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 3px;
    margin-right: 1px;
    padding: 5px; 
    
    overflow-y: visible; 
    height: 100px;
    /* Add padding for inner content */ 
}

.chat-messages {
    list-style-type: none;
    padding: 1px;
    margin: 1px;
    min-height: 60vh;
    height: 93%;
    overflow-y: auto; 
}

.message {
    padding: 1px 1px 1px 1px;
    margin: 1px 1px 1px 1px; 
    height: min-content;
    border-radius: 1px;
    background-color: rgb(220, 233, 231);
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    text-align: right;
    display: flex;
    align-items: center;
    margin-bottom: 1px;
}

.message.self { 
    justify-content: right; 
}

.avatar {
    display: inline-block;
    width: auto;
    flex-shrink: 0; 
    /* Let the width be flexible based on content */
    min-width: min-content;
    /* Minimum width to avoid shrinking too much */
    height: 20px;
    background-color: rgb(212, 8, 8);
    color: #fff;
    border-radius: 10%;
    text-align: center; 
    align-items: center; 
    line-height: 20px;
    margin-right: 5px;
    margin-left: 5px;
    padding: 2px; 
}

.avatar.self { 
    background-color: #007bff;  
}

.send-message {
    display: flex;
    align-items: center;
    /* Add margin for separation */
}

.input-message {
    flex-grow: 1;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;

}



.send-button {
    padding: 5px 8px;
    background-color: #073608;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 13px;
}

.send-button:hover {
    background-color: #457c48;
}

.profile-carousels {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.profile-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    max-width: 300px; /* Adjust the maximum width as needed */
    max-height: 350px; /* Adjust the maximum height as needed */
    border-radius: 70%; /* Make the image circular */
}

.avatar-image{
    max-width: 30px; /* Adjust the maximum width as needed */
    max-height: 35px; /* Adjust the maximum height as needed */
    border-radius: 70%; /* Make the image circular */
} 

.message-data { 
    /* Allow message data to grow */
    margin-left: 2px;
    flex-grow: 1; /* Allow message data to grow */
    margin-right: 5px;
    padding: 4px;
    border-radius: 10px;
    background-color:rgba(240, 122, 122, 0.26);
    text-align: left;   
    max-width: 50%;
    word-wrap:break-word; /* Allow long words to break and wrap */
    overflow-wrap: break-word; /* Ensure content wraps within container */ 
    overflow-x: auto; 
}

.self .message-data {
    background-color: rgba(127, 230, 212, 0.26); 
    text-align: right; 
}

.error-message{
    color: rgb(247, 67, 67);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 13px;
    margin-left: 9px;
}
.noerror-message{
    color: rgb(67, 247, 163);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 13px;
    margin-left: 9px;
}