/* Results.css */
.results-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('https://images.squarespace-cdn.com/content/v1/6131aab0e93278616cc6f6b8/1630812785434-3TCPK3QM374NBTP3VI11/25552.jpg?format=1000w');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    /* Ensure full height */
    padding: 10px 0;
    /* Adjust padding as needed */
}

.map-container {
    margin-bottom: 5px;
}

/* Styles for mobile devices (up to 768px) */
@media (max-width: 768px) {
    .map-container {
        height: 550px;
        /* Adjust height for mobile */
        width: 90%;
        /* Full width for mobile */
    }

    .button-create {
        margin-right: 30%;
    }
}

/* Styles for desktop devices (769px and above) */
@media (min-width: 769px) {
    .map-container {
        height: 480px;
        /* Adjust height for desktop */
        width: 90%;
        /* Adjust width for desktop */
    }

    .button-create {
        margin-right: 100px;
    }
}


.result-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    /* Regular */
    font-size: 20px;
    color: #fff;
    /* Text color */
    backdrop-filter: blur(5px);
    /* Blur effect for background */
    padding: 10px;
    /* Add padding to prevent text from touching edges */
}



.button-findchatrooms {
    margin-top: 20px;
    margin-right: 20px;
    background-color: transparent;
    align-self: flex-start;
    color: #ffffff;
    /* Text color */
    border: 2px solid #ffffff;
    /* White border */
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button-create {
    margin-top: 20px;
    margin-right: 20px;
    background-color: transparent;
    align-self: flex-end;
    color: #ffffff;
    /* Text color */
    border: 2px solid #ffffff;
    /* White border */
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.button-findchatrooms:hover {
    background-color: rgba(255, 255, 255, 0.2);
    /* Semi-transparent white */
    color: #ffffff;
    /* Text color on hover */
}

.button-create:hover {
    background-color: rgba(255, 255, 255, 0.2);
    /* Semi-transparent white */
    color: #ffffff;
    /* Text color on hover */
}

.actionitems {
    display: inline-block;
}

.chatroom-name-dialog {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    /* Regular */
    font-size: 12px;
}

.chatroom-id-dialog {
    font-family: 'Poppins', sans-serif;
    font-weight: 350;
    /* Regular */
    font-size: 12px;
}

/* CSS */
.button-18 {
    align-items: center;
    background-color: #0A66C2;
    border: 0;
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: 300;
    justify-content: center;
    line-height: 10px;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
    padding: 7px;
    margin: 3px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
}

.button-18:hover,
.button-18:focus {
    background-color: #16437E;
    color: #ffffff;
}

.button-18:active {
    background: #09223b;
    color: rgb(255, 255, 255, .7);
}

.button-18:disabled {
    cursor: not-allowed;
    background: rgba(0, 0, 0, .08);
    color: rgba(0, 0, 0, .3);
}

.button-18.del {
    background: rgba(238, 26, 26, 0.856);
}

.inputbasic {
    width: 150px;
    padding: 1px;
    border: 1px solid #ccc;
    border-radius: 1px;
    font-size: 12px;
    outline: none;
    transition: border-color 0.3s ease;
}

/* Style when input box is focused */
.inputbasic:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 5px rgba(0, 0, 255, 0.3);
}